
/* CSS = Cascade Style Sheet */
/* This website was built on January 27, 2023 by Nicholas Deda s2*/

@font-face {
    font-family: 'boy';
    src: url();
}


#p1{
    font-family:cursive;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.column {
    /*background-color: aqua;*/
    float: left;
    width: 50%;
    padding: 60px;
    font-size: 1.5em;
    font-weight: 200;
    /* text-shadow: lightgray 0 -200px;*/ 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.testClass {
    background-color: blue;
    padding: 15px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.go {
    padding: 60px;
}

.owl-generic {
    padding: 60px;
}

.owl1 {
    background-color: cornsilk;
}   

.owl2 {
    background-color: rgb(208, 39, 39);
}   

.owl3 {
    background-color: rgba(255, 138, 13, 0.567);
}   

.owl4{
    background-color: rgb(18 150 75 / 68%);
}


.owl{
background-color: rgb(44, 167, 167);

}
#tundra{
    width: 200px;
    height: 300px; 
}

.the{
    background-color: rgb(203, 132, 144);
}
#good{
    background-color: rgb(155, 181, 109);
padding: 100px;
}
p {
    font-size: 20px;
}
.Hello{
    background-color: rgb(107, 166, 48);
}
.contents{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 125px;
    font-size: 20px;
    font-size: 2em;
}
.little{
    background-color: rgb(173, 165, 165);
}
#big{
    font-size: 300px;
}
.China { 
    background: linear-gradient(to bottom, #9c9f1e, #6b4a16);
}

.fun{
    background: linear-gradient(to top right, #4ba729, #b7b7b5f5); 
}

.help{
    background: linear-gradient(to right, #6e510e, #fffffff5);
}
.green{
    background: linear-gradient(to right, #509807, #dadd3cf5); 
}

.ACKNOWLEDGEMENTS{
    padding: 180px;
    Background: linear-gradient(to right, rgb(18 150 75 / 68%) , rgba(255, 138, 13, 0.567) )
}

.purple{
    Background: linear-gradient(to right, rgba(13, 175, 84, 0.68) , rgb(134, 253, 69) )
}